<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1>Paypal</h1> -->
    <h1>Please wait...</h1>
    <form name="f1" action="/paypal" id="f1">        
        <input type="hidden" id="price" name="price">
        <input type="hidden" id="currency" name="currency">
        <button type="submit">Go to Paypal</button>
    </form>
    <!-- <script>window.onload=function(){location.href="/paypal?price=" + document.getElementById("price").value};</script> -->
</body>
</html>